<a href="https://colab.research.google.com/github/pranalishankarjadhav/pranalijadhav/blob/main/Assignment_no_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''1)Write a program to convert specified days into years ,weeks and days
     Take user input (note:ignore leap years)
     '''
day=int(input("Enter the days"))
year=day/365
weak=(day%365)/7
rem_days=day%365
print("Conversion is:",year,":",weak,":",rem_days)

Enter the days400
Conversion is: 1.095890410958904 : 5.0 : 35

In [ ]:
'''2)Write a phthon program to input basic salary of an employees and calculate its gross salary
according to following
Basic salary<=10000:HRA=20%,Da=80%
Basic salary<=20000:HRA=30%,Da=90%
Basic salary>20000:HRA=35%,Da=95%
'''
Basic_Sal=int(input("Enter the salary="))
if Basic_Sal<=10000:
   HRA=(Basic_Sal*20)/100
   DA=(Basic_Sal*80)/100
   Gross_Salary=Basic_Sal+HRA+DA
   print("Total Gross Salary=",Gross_Salary)
elif Basic_Sal<=20000:
     HRA=(Basic_Sal*30)/100
     DA=(Basic_Sal*90)/100
     Gross_Salary=Basic_Sal+HRA+DA
     print("Total Gross Salary=",Gross_Salary)
else:
  if Basic_Sal>20000:
    HRA=(Basic_Sal*35)/100
    DA=(Basic_Sal*95)/100
    Gross_Salary=Basic_Sal+HRA+DA
    print("Total Gross Salary=",Gross_Salary)

Enter the salary=35000
Total Gross Salary= 80500.0

In [ ]:
'''3)Write a python program input electricity unit charges to an calculate
total electricity bill according to given conditions
For first 50 units Rs.0.50/units
For next 100 units Rs.0.75/units
For next 50 units Rs.1.25/units
For unit above 250 Rs.1.50/units
An additional surchanged of 17% is added to the bill
'''
units=float(input('Enter num of units'))
if units <= 50:
        bill = units * 0.50

elif units<=150:
        bill = (50 * 0.50) + ((units - 50) * 0.75)

elif units<=250:
        bill = (50 * 0.50) + (100 * 0.75) + ((units - 150) * 1.25)

else:
        bill = (50 * 0.50) + (100 * 0.75) + (100 * 1.25) + ((units - 250) * 1.50)

charge=bill*0.17
tot_bill=bill+charge
print(tot_bill)

Enter num of units150
Your total bill is: 100.0
Your Total bill is: 117.0

In [ ]:
'''4)Write a python program to print the given number patterns
      1
      2 2
      3 3 3
      4 4 4 4
      5 5 5 5 5'''
rows=int(input("Enter the rows="))
for i in range(rows):
   for j in range(i+1):
      print(i+1,end=" ")
   print()

Enter the rows=5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
'''5)Write a python program to calculate  product  of digit of numbers ,read the value from user
'''
num=int(input("Enter the number="))
pod=1
while num>0:
    rem=num%10
    pod=pod*rem
    num=num//10
print("Addition of digit is:",pod)

Enter the number=12345
Addition of digit is: 120

In [ ]:
'''6)create a list of elements like:x=[45,67,12,'Hello',23.45,'World']and
perform following operations
1.Extract only string values from this least.
2.create a new list with string in upper case.
3.find the addition of integer values.
4.Check that the value 56 is present in it or not.
5.Print the list in reverse order.
6.Delete the string 'Hello' from it.
7.insert a  new value of 36 at 5th position in list.
8.Count total number of element in list now.
9.Extract the value from2nd index from to 5th index.
10.Append[34,'pune']to this list
11.Delete the last element from the list.
'''
#least created
x=[45,67,12,'Hello',23.45,'World']
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [ ]:
#1Extract only string values from this least.
string_values = [item for item in x if isinstance(item, str)]

print(string_values)

['Hello', 'World']

In [ ]:
#2.create a new list with string in upper case.
l=['pranali','amruta','sneha','dnyaneshwari','pranali']
l
[n.upper() for n in l]

['PRANALI', 'AMRUTA', 'SNEHA', 'DNYANESHWARI', 'PRANALI']

In [ ]:
#3..find the addition of integer values.
x=[45,67,12,'Hello',23.45,'World']
sum = 0

for i in x:
    if isinstance(i, int):
        sum += i

print("Sum of integer values in the list:", sum)

Sum of integer values in the list: 124

In [ ]:
#4..Check that the value 56 is present in it or not.
56 in x

False

In [ ]:
#5.Print the list in reverse order.
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [ ]:

x.reverse()

In [ ]:
x

['World', 23.45, 'Hello', 12, 67, 45]

In [ ]:
#6.Delete the string 'Hello' from it.
x.remove('Hello')

In [ ]:
x

['World', 23.45, 12, 67, 45]

In [ ]:
#7.insert a  new value of 36 at 5th position in list.
x.insert(5,36)

In [ ]:
x

['World', 23.45, 12, 67, 45, 36]

In [ ]:
#8.Count total number of element in list now.
x=[45,67,12,'Hello',23.45,'World']
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [ ]:
len(x)

6

In [ ]:
#9.Extract the value from2nd index from to 5th index.
x[2:6]

[12, 'Hello', 23.45, 'World']

In [ ]:
#10.Append[34,'pune']to this list
x.append([34,'pune'])

In [ ]:
x

[45, 67, 12, 'Hello', 23.45, 'World', [34, 'pune']]

In [ ]:
#11.Delete the last element from the list.
x=[45,67,12,'Hello',23.45,'World']
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [ ]:
x.pop()

'World'

In [ ]:
'''7)create tuple of element with 5 float values in it and perform following operations
1.print the data in sorted manner
2.check to see that the element 50 present it
3.convert this tuple in set
'''
# tuple create
t=(1.5,2.5,0.5,8.5,5.5)

In [ ]:
t

(1.5, 2.5, 0.5, 8.5, 5.5)

In [ ]:
#1.print the data in sorted manner
t1=list(t)

In [ ]:
t1.sort()

In [ ]:
t1

[0.5, 1.5, 2.5, 5.5, 8.5]

In [ ]:
#2.check to see that the element 50 present it
50 in t1

False

In [ ]:
#3.convert this tuple in set
s=set(t)

In [ ]:
s

{0.5, 1.5, 2.5, 5.5, 8.5}

In [ ]:
'''8)Create dictionary of element {'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'}
and perform following operations
1.access the data at the key'k'
2.add a new value 'z':'zebra'
3.replace the content 'd' as 'dog'
4.print the all values from this dictionary
5.find the length of the dictionary
'''
#dictionary created
d={'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'}

In [ ]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [ ]:
#1.access the data at the key'k'
d['k']

'king'

In [ ]:
#2.add a new value 'z':'zebra'
d['z']='Zebra'

In [ ]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'Zebra'}

In [ ]:
#3.replace the content 'd' as 'dog'
d['d']='dog'

In [ ]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'Zebra'}

In [ ]:
#4.print the all values from this dictionary
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'Zebra'])

In [ ]:
#5.find the length of the dictionary
len(d)

6

In [ ]:
'''9)Write aprogram to find the second largest element in list
'''
l=[19,34,22,15,89]

In [ ]:
l

[19, 34, 22, 15, 89]

In [ ]:
t=sorted(l,reverse=True)

In [ ]:
t

[89, 34, 22, 19, 15]

In [ ]:
t[1]

34

In [ ]:
'''10)This is a list of some metallic elements.
metals=['silver','gold'...]
make a new list that is almost identical to the metal list:the new contains the same items,
in the same order,except that it does not contain the item 'copper'
'''
metals=['silver','gold','mercury','iron','cobolt']

In [ ]:
metals

['silver', 'gold', 'mercury', 'iron', 'cobolt']

In [ ]:


# Create a new list without 'copper'
new_metals = [metal for metal in metals if metal != 'copper']

print(new_metals)

['silver', 'gold', 'mercury', 'iron', 'cobolt']