In [11]:
f=open('bts.txt','r')

In [12]:
f.read()

"'BTS also known as the Bangtan Boys, is a South Korean boy band formed in 2010. The band consists of Jin, Suga, J-Hope, RM, Jimin, V, and Jungkook, who co-write or co-produce much of their material. Originally a hip hop group, they expanded their musical style to incorporate a wide range of genres, while their lyrics have focused on subjects including mental health, the troubles of school-age youth and coming of age, loss, the journey towards self-love, individualism, and the consequences of fame and recognition. Their discography and adjacent work has also referenced literature, philosophy and psychology, and includes an alternate universe storyline.'"

In [5]:
print(f.name)

bts.txt

In [13]:
print(f.mode)

r

In [14]:
print(f.closed)

False

In [15]:
f.close()

In [16]:
print(f.closed)

True

In [17]:
f.read()#closed file so data can't read

ValueError: I/O operation on closed file.

In [18]:
f#data  not accessible

In [19]:
#context managerusing file automatically closed
with open('bts.txt','r') as f:
    pass

In [20]:
print(f.closed)

True

In [21]:
with open ('bts.txt','r') as f:
   content=f.read()
   print(content)

'BTS also known as the Bangtan Boys, is a South Korean boy band formed in 2010. The band consists of Jin, Suga, J-Hope, RM, Jimin, V, and Jungkook, who co-write or co-produce much of their material. Originally a hip hop group, they expanded their musical style to incorporate a wide range of genres, while their lyrics have focused on subjects including mental health, the troubles of school-age youth and coming of age, loss, the journey towards self-love, individualism, and the consequences of fame and recognition. Their discography and adjacent work has also referenced literature, philosophy and psychology, and includes an alternate universe storyline.'

In [23]:
with open ('test1.txt','r') as f: #it read line by line
   content=f.readlines()
   print(content)

["'This is the first line.\n", 'This is second line.\n', 'This is third line.\n', "This is fourt line.'"]

In [27]:
with open ('test1.txt','r') as f:
   content=f.readline()
   print(content,end=" ")

'This is the first line.

In [28]:
with open ('test1.txt','r') as f:
   content=f.readline()
   print(content)

   content=f.readline()
   print(content)

'This is the first line.

This is second line.

In [29]:
with open ('test1.txt','r') as f:
   content=f.readline()
   print(content,end=" ")

   content=f.readline()##space is deleted
   print(content,end=" ")

'This is the first line.
 This is second line.

In [30]:
#use loop
with open ('test1.txt','r') as f:
  for line in f:
   print(line,end=" ")

'This is the first line.
 This is second line.
 This is third line.
 This is fourt line.'

In [35]:
with open ('test1.txt','r') as f:
 content = f.read(5)
 print(content)

'This

In [37]:
#use while loop
with open ('test1.txt','r')as f:
  size=5
  content=f.read(size)

  while len(content)>0:
    print(content)
    content=f.read(size)

'This
 is t
he fi
rst l
ine.

This
is se
cond
line.

This
 is t
hird
line.

This
 is f
ourt
line.
'

In [42]:
with open ('test1.txt','r')as f:
  content=f.read(5)
  print(content)
  f.seek(0)

  content=f.read(5)
  print(content)

'This
'This

###Write

In [43]:
with open ('test2.txt','w') as w:
  pass#file is created

In [44]:
with open ('test2.txt','w') as w:
 w.write('This is first number')#write something

In [46]:
with open ('test2.txt','w') as w:
 w.write('slide')

In [48]:
with open ('test2.txt','w') as w:
 w.write('slide')
 
 w.write('g')

In [49]:
with open ('test2.txt','w') as w:
 w.write('slide')
 w.seek(0)
 w.write('g')

In [50]:
with open ('test2.txt','r') as rf:
   with open ('test3.txt','w') as w:
     for line in rf:
      w.write(line)

In [52]:
with open ('wallpaper.jpg','rb') as rf:
   with open ('wallpaper_copy.jpg','wb') as w:
     for line in rf:
      w.write(line)