<a href="https://colab.research.google.com/github/pranalishankarjadhav/pranalijadhav/blob/main/looping_(Day3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# printing a name 15 times
count=1
while count<=15:
  print("Pranali" ,end=" ")
  count=count+1

Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali

In [ ]:
print(count)

16

In [ ]:
# print number from 1 to 5
num=1
while num<=5:
  print(num)
  num=num+1

1
2
3
4
5

In [ ]:
# find the addition of all numbers from 1 to 10
num=1
add=0
while num<=10:
   add=add+num
   num=num+1
print("Addition is=",add)

Addition is= 55

In [ ]:
#find additin of all thhe odd numbers from 1 to 20
count=1
add=0
while count<=20:
  add=add+count
  count=count+1
print("addition is:",add)

addition is: 210

In [ ]:
# factorial>5!=5*4*3*2*1=120
num=1
fact=1
while num<=5:
   fact=fact*num
   num=num+1
print("Factorial is=",fact)

Factorial is= 120

In [ ]:
# find the factorial of given number
num=int(input("Enter the number:"))
fact=1
while num>=1:
   fact=fact*num
   num=num-1
print("Factorial is=",fact)

Enter the number:5
Factorial is= 120

In [ ]:
10

10

In [ ]:
'''infinite loop
count=1
while count<=15:
  print("Pranali" ,end=" ")
  '''

'infinite loop\ncount=1\nwhile count<=15:\n  print("Pranali" ,end=" ")\n  '

In [ ]:
'''while True:
print("a")
'''

'while True:\nprint("a")\n'

In [ ]:
#else
count=1
add=0
while count<=20:
  add=add+count
  count=count+2
else:
    print("Addition is ",add)

Addition is  100

In [ ]:
# find addition of all the digits of anumber
#ex..12345+>1+2+3+4+5=15
num=12345
print(num%10)
print(num//10)

5
1234

In [ ]:
# find addition of all the digits of anumber
#ex..12345+>1+2+3+4+5=15
num=int(input("Enter the Number"))
add=0
while num>0:
    rem=num%10
    add=add+rem
    num=num//10
print("Addition of digit is:",add)

Enter the Number12345
Addition of digit is: 15

In [ ]:
#for Loop

for n in 32,34,56,55,66:
  print(n)

32
34
56
55
66

In [ ]:
for n in 32,34,56,55,66:
  print(n/2)

16.0
17.0
28.0
27.5
33.0

In [ ]:
#Range Function
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(5,15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(5,15,2))

[5, 7, 9, 11, 13]

In [ ]:
#range(start,end+1,step)

In [ ]:
list(range(23,1,-1))

[23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2]

In [ ]:
for n in range((5)):
    print(n)

0
1
2
3
4

In [ ]:
for n in range(1,6):
    print(n**2)

1
4
9
16
25

In [ ]:
for n in range(10):
    print("Pranali",end=" ")

Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali Pranali

In [ ]:
#find the addtion of 1 to 10 numbers
add=0
for n in range(1,11):
  add=add+n
print("Addition:",add)

Addition: 55

In [ ]:
#find the addition of odd numbers from 1 to 20
add=0
for n in range(1,21,2):

   add=add+n
print(add)

100

In [ ]:
for n in "Sneha":
  print(n)

S
n
e
h
a

In [ ]:
for n in "Sneha","Pranali","Dnyaneshwari","Amruta":
  print(n)

Sneha
Pranali
Dnyaneshwari
Amruta

In [ ]:
num=int(input("Enter the number"))
fact=1
for n in range(1,num+1):
  fact=fact*n
print(fact)

Enter the number5
120

In [ ]:
#Break statment
for n in range(1,11):
  if n==5:
    break
  print(n)

1
2
3
4

In [ ]:
count=0
while count<=10:
  print(count)
  if count==5:
     break
  count+=1

0
1
2
3
4
5

In [ ]:
#Countinue statment
for n in range(1,11):
  if n==5:
    continue
  print(n)

1
2
3
4
6
7
8
9
10

In [ ]:
r=int(input("Enter the row"))

for i in range(1,r+1):
    for j in range(i):
        print("* ",end=" ")
    print()

Enter the row3
*
*  *
*  *  *