In [5]:
class  Employee:#class created
    pass

In [6]:
emp1=Employee()#instance of class
emp2=Employee()

In [7]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x0000019FC97DCAD0>
<__main__.Employee object at 0x0000019FC9861290>

In [8]:
emp1.first ='Natasha'#instance variable
emp1.last ='Negi'
emp1.salary ='52000'

emp2.first ='Pranali'#instance variable
emp2.last ='Jadhav'
emp2.salary ='50000'

In [9]:
print(emp1.first)

Natasha

In [10]:
print(emp2.salary)

50000

In [66]:
class Employee:

    def __init__(self,first,last,salary):
        self.first=first #self is keyword similar as this keyword
        self.last=last
        self.salary=salary
        
    def show():
        print(self.first +' '+'Ok')

In [67]:
emp1=Employee('Ravi','Tyagi',55000)
emp2=Employee('Neha','Kulkarni',54000)

In [68]:
emp1.first

'Ravi'

In [69]:
emp1.show()

TypeError: Employee.show() takes 0 positional arguments but 1 was given

In [62]:
#Encapsulation
class Employee1:

    def __init__(self,first,last,salary):
        self.first=first #self is keyword similar as this keyword
        self.last=last
        self.__salary=salary#creating a private variable
    def display(self):
        print('salary is:',self.__salary)

In [63]:
emp3=Employee1('Akash','Tyagi', 30000)
emp4=Employee1('Pranav','Patil', 32000)

In [64]:
emp3.first

'Akash'

In [65]:
emp3.display()

salary is: 30000

In [71]:
#inheritance
class Employee2(Employee1):
    pass

In [72]:
emp5=Employee2('Aniket','Rana',60000)

In [73]:
emp5.display()

salary is: 60000

In [88]:
'''Create class called person
take in name,age,hobby...(make use of default parameter also)
create multiple objects
create a method to display all the info'''

class Person:

    def __init__(self,name,age=22):
        self.name=name #self is keyword similar as this keyword
        self.age=age
        
        
    def display(self):
        print('Name is:',self.name)
        print(' Age is:',self.age)

In [89]:
p1=Person('Pranali',17)
p2=Person('Sneha')
p3=Person('Sakshi')
p4=Person('Amruta',20)

In [90]:
p1.display()

Name is: Pranali
 Age is: 17

In [91]:
p2.display()

Name is: Sneha
 Age is: 22